#apphead{
	background-color:  #F0FFFF;
	width:75%;
	padding-left: 50px;
	margin: 0 auto;
}
#appbody{
	background-color:   	#F0FFFF;
    width: 50%;
    margin: 0 auto; 
	padding-bottom: 50px;
}
#parent{
	background-color: #F0F8FF;
}
#header{
    width: 75%;
	display: inline-block;
	font-size: 40px
}
#beerimg{
	padding-left: 75px;
    margin: 0 auto;
	float: left;
	
}
#Testbutton{
	float: center;
	padding-right: 75px;
	
}
#header{
    width: 75%;
	display: inline-block;
}
body{
	background-color: #E6E6FA;
}
#deDesc{
	 margin:1;
	 width: 90%;
	 padding-left: 20px;
}
